<%= form_for(@cookbook) do |f| %>
  <% if @cookbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cookbook.errors.count, "error") %> prohibited this cookbook from being saved:</h2>

      <ul>
      <% @cookbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
	<%= f.label :cookbooktitle %>
	<%= f.text_field :cookbooktitle %>
</div>

<div class="field">
	<%= f.label :description %>
	<%= f.text_field :description %>
</div>

<div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
</div>

<% end %>